<launch>
    <arg name="type" default="standard"/>
    <arg name="disable_timeout" default="true"/>
    <arg name="disable_odom_tf" default="false"/>
    <arg name="load_wrong_yaml" default="false"/>
    <arg name="load_empty_world" default="true"/>
    <arg name="load_sentry_world" default="false"/>
    <arg name="odom_tf" default="true"/>
    <arg name="yaw_tf" default="false"/>


    <!-- Load common test stuff -->
    <include file="$(find rm_chassis_controllers)/test/load_controllers.launch">
        <arg name="robot_type" value="$(arg type)"/>
        <arg name="odom_tf" value="$(arg odom_tf)"/>
        <arg name="load_wrong_yaml" value="$(arg load_wrong_yaml)"/>
        <arg name="disable_odom_tf" value="$(arg disable_odom_tf)"/>
        <arg name="disable_timeout" value="$(arg disable_timeout)"/>
        <arg name="yaw_tf" value="$(arg yaw_tf)"/>
    </include>

    <include if="$(arg load_empty_world)" file="$(find rm_chassis_controllers)/test/empty_world.launch">
        <arg name="robot_type" value="$(arg type)"/>
        <arg name="load_chassis" default="true"/>
        <arg name="load_gimbal" default="false"/>
        <arg name="load_shooter" default="false"/>
        <arg name="load_arm" default="false"/>
        <arg name="paused" default="false"/>
    </include>

    <include if="$(arg load_sentry_world)" file="$(find rm_chassis_controllers)/test/sentry_world.launch">
        <arg name="robot_type" value="sentry"/>
        <arg name="x_pos" value="-2.0"/>
        <arg name="load_chassis" value="true"/>
        <arg name="load_gimbal" value="false"/>
        <arg name="load_shooter" value="false"/>
        <arg name="load_arm" value="false"/>
        <arg name="paused" value="false"/>
    </include>

</launch>