<launch>

  <rosparam file="$(find rm_base)/config/actuator_coefficient.yaml"
            command="load" ns="rm_base"/>

  <rosparam
      file="$(find rm_shooter_controllers)/test/test_hero_shooter_with_gimbal.yaml"
      command="load"/>
  <rosparam
      file="$(find rm_shooter_controllers)/test/test_hero_shooter_with_gimbal.xacro"
      command="load" ns="robot_description"/>

  <node pkg="tf" type="static_transform_publisher" name=""
        args="0 0 0 0 0 0 1 map base_link 10"/>


  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false"
        output="screen" args="
        rm_base/robot_state_controller
        rm_base/joint_state_controller
        rm_base/shooter_standard_controller
        rm_base/gimbal_standard_controller
   "/>

  <node name="rm_base" pkg="rm_base" type="rm_base" respawn="false"/>

</launch>