<launch>
  <rosparam file="$(find rm_chassis_controllers)/test/test_standard_chassis.yaml" command="load"/>

  <include file="$(find rm_description)/launch/hero.launch">
    <arg name="load_chassis" value="true"/>
    <arg name="load_gimbal" value="false"/>
    <arg name="load_shooter" value="false"/>
    <arg name="load_gazebo" value="true"/>
    <arg name="use_rm_gazebo" value="true"/>
    <arg name="roller_type" value="simple"/>
    <arg name="paused" value="false"/>
  </include>
  <node pkg="tf" type="static_transform_publisher" name="" args="0 0 0 0 0 0 1 map odom 500"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="
          controllers/robot_state_controller
          controllers/joint_state_controller
          controllers/chassis_standard_controller
  "/>

</launch>