<launch>
  <rosparam file="$(find rm_base)/config/actuator_coefficient.yaml" command="load" ns="rm_base"/>
  <rosparam file="$(find rm_chassis_controllers)/test/test_standard_chassis.yaml" command="load"/>

  <include file="$(find rm_description)/launch/hero_chassis_only.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="" args="0 0 0 0 0 0 1 world odom 500"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="
          controllers/robot_state_controller
          controllers/joint_state_controller
          controllers/chassis_standard_controller
  "/>

</launch>