<robot name="test_robot">
  <link name="map"/>
  <link name="link_yaw"/>
  <link name="link_pitch"/>

  <joint name="joint_yaw" type="continuous">
    <parent link="map"/>
    <child link="link_yaw"/>
    <axis xyz="0 0 1"/>
  </joint>
  <joint name="joint_pitch" type="continuous">
    <parent link="link_yaw"/>
    <child link="link_pitch"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 0 0.25"/>
    <!--    <limit lower="0.0" upper="6.0" effort="1000" velocity="1000.00"/>-->
  </joint>

  <transmission name="yaw_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_yaw">
      <offset>0.0</offset>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="actuator_yaw">
      <mechanicalReduction>1</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
  <transmission name="pitch_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_pitch">
      <offset>2.8182666160000003</offset>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="actuator_pitch">
      <mechanicalReduction>-1</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
</robot>
