<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <rosparam file="$(find tof_sensor_controller)/config/$(arg robot_type).yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="controller_manager" output="screen"
          args="load controllers/left_tof_sensor_controller
                     controllers/right_tof_sensor_controller
"/>
</launch>
