<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <rosparam file="$(find rm_shooter_controllers)/config/$(arg robot_type).yaml" command="load"/>
    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load controllers/shooter_controller"/>
</launch>
