<launch>
    <arg name="base_link_tf" default="false" doc="Set true when not imu and chassis controllers loaded"/>
    <arg name="odom_tf" default="false" doc="Set true when not chassis but imu and orientation controllers loaded"/>

    <rosparam file="$(find rm_gimbal_controllers)/test/gimbal_config_template.yaml" command="load"/>
    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load controllers/gimbal_controller"/>

    <node if="$(arg base_link_tf)" pkg="tf2_ros" type="static_transform_publisher" name="base_link_tf_publisher"
          args="0 0 0 0 0 0 1 map base_link"/>
    <node if="$(arg odom_tf)" pkg="tf2_ros" type="static_transform_publisher" name="odom_tf_publisher"
          args="0 0 0 0 0 0 1 map odom"/>
</launch>
