<launch>
    <arg name="use_simulation" default="true"/>
    <arg name="load_description" default="true"/>
    <arg name="load_controller" default="true"/>

    <rosparam file="$(find rm_shooter_controllers)/config/hero.yaml" command="load"/>

    <include if="$(arg load_description)" file="$(find rm_description)/launch/hero.launch">
        <arg name="load_chassis" value="false"/>
        <arg name="load_gimbal" value="false"/>
        <arg name="load_shooter" value="true"/>
        <arg name="use_simulation" value="$(arg use_simulation)"/>
        <arg name="use_rm_gazebo" value="true"/>
        <arg name="roller_type" value="simple"/>
        <arg name="paused" value="false"/>
    </include>

    <!-- load the controllers -->
    <node if="$(arg load_controller)" name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen"
          args="
          controllers/robot_state_controller
          controllers/joint_state_controller
          controllers/shooter_standard_controller
    "/>

</launch>