<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <arg name="load_controller" default="true"/>

    <rosparam file="$(find rm_orientation_controller)/config/$(arg robot_type).yaml" command="load"/>

    <!-- load the controllers -->
    <node if="$(arg load_controller)" name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen"
          args="
          controllers/robot_state_controller
          controllers/rm_orientation_controller
    "/>

</launch>