<launch>
  <arg name="use_simulation" default="false"/>
  <arg name="load_description" default="true"/>
  <arg name="load_controller" default="true"/>
  <arg name="odom_tf" default="true"/>

  <rosparam file="$(find rm_chassis_controllers)/config/standard.yaml" command="load"/>

  <include if="$(arg load_description)" file="$(find rm_description)/launch/hero.launch">
    <arg name="load_chassis" value="true"/>
    <arg name="load_gimbal" value="false"/>
    <arg name="load_shooter" value="false"/>
    <arg name="use_simulation" value="$(arg use_simulation)"/>
    <arg name="use_rm_gazebo" value="true"/>
    <arg name="roller_type" value="simple"/>
    <arg name="paused" value="false"/>
  </include>

  <!-- load the controllers -->
  <node if="$(arg load_controller)" name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen"
        args="
          controllers/robot_state_controller
          controllers/joint_state_controller
          controllers/chassis_standard_controller
  "/>

  <node if="$(arg odom_tf)" pkg="tf" type="static_transform_publisher" name=""
        args="0 0 0 0 0 0 1 map odom 100"/>

</launch>