<launch>
    <arg name="use_simulation" default="false"/>
    <arg name="load_description" default="true"/>
    <arg name="load_controller" default="true"/>
    <arg name="base_link_tf" default="true"/>
    <arg name="camera_tf" default="true"/>


    <rosparam file="$(find rm_gimbal_controllers)/config/standard.yaml" command="load"/>
    <rosparam unless="$(arg use_simulation)" file="$(find rm_base)/config/standard.yaml" command="load"/>

    <include if="$(arg load_description)" file="$(find rm_description)/launch/standard.launch">
        <arg name="load_chassis" value="true"/>
        <arg name="load_gimbal" value="true"/>
        <arg name="load_shooter" value="false"/>
        <arg name="use_simulation" value="$(arg use_simulation)"/>
        <arg name="use_rm_gazebo" value="true"/>
        <arg if="$(arg use_simulation)" name="roller_type" value="simple"/>
        <arg unless="$(arg use_simulation)" name="roller_type" value="none"/>
        <arg name="paused" value="false"/>
    </include>
    <include unless="$(arg use_simulation)" file="$(find rm_base)/launch/rm_base.launch"/>

    <!-- load the controllers -->
    <node if="$(arg load_controller)" name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen"
          args="
          controllers/robot_state_controller
          controllers/joint_state_controller
          controllers/gimbal_standard_controller
    "/>

    <node if="$(arg base_link_tf)" pkg="tf" type="static_transform_publisher" name="odom_tf_bro"
          args="0 0 0 0 0 0 1 map base_link 100"/>
    <node if="$(arg camera_tf)" pkg="tf" type="static_transform_publisher" name="camera_tf_bro"
          args="0.086 0 -0.046 0.5, 0.5, 0.5, 0.5 pitch camera 100"/>

</launch>