#!/usr/bin/env python3
PACKAGE = "rm_chassis_controllers"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("Q_theta", double_t, 0, "theta weight",     1.0,  0.0, 10000.0)
gen.add("Q_d_theta", double_t, 0, "d_theta weight",   1.0,  0.0, 10000.0)
gen.add("Q_x", double_t, 0, "x weight",         1.0,  0.0, 10000.0)
gen.add("Q_dx", double_t, 0, "dx weight",        1.0,  0.0, 10000.0)
gen.add("Q_phi", double_t, 0, "phi weight",       1.0,  0.0, 10000.0)
gen.add("Q_d_phi", double_t, 0, "d_phi weight",     1.0,  0.0, 10000.0)

gen.add("R_T", double_t, 0, "wheel torque weight",  1.0, 0.001, 10000.0)
gen.add("R_Tp", double_t, 0, "leg force weight",     1.0, 0.001, 10000.0)

exit(gen.generate(PACKAGE, "chassis_controller", "LQRWeight"))
