<robot name="test_robot">
  <link name="world"/>
  <link name="link_base"/>
  <link name="link_yaw"/>

  <joint name="joint_rf" type="continuous">
    <parent link="base_link"/>
    <child link="link_rf"/>
  </joint>
  <joint name="joint_rb" type="continuous">
    <parent link="base_link"/>
    <child link="link_rb"/>
  </joint>
  <joint name="joint_lf" type="continuous">
    <parent link="base_link"/>
    <child link="link_lf"/>
  </joint>
  <joint name="joint_lb" type="continuous">
    <parent link="base_link"/>
    <child link="link_lb"/>
  </joint>

  <transmission name="joint_rf_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_rf">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="actuator_rf">
      <mechanicalReduction>1</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
  <transmission name="joint_rb_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_rb">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="actuator_rb">
      <mechanicalReduction>1</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
  <transmission name="joint_lf_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_lf">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="actuator_lf">
      <mechanicalReduction>1</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
  <transmission name="joint_lb_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_lb">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="actuator_lb">
      <mechanicalReduction>1</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
</robot>
